.search-form-outer {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    padding: 20px 30px 30px;
}

.search-label {
    font-size: 1.2em;
}

.form-group {
    display: flex;
    flex-flow: row wrap;
    height: 40px;
}

.form-control {
    min-width: 200px;
    max-width: 50%;
    padding: 5px 10px;
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-btn {
    margin-left: 20px;
    font-size: 1.1em;
    background-color: #cbc4fa;
    border-radius: 5px;
    border-width: 0;
    padding: 0 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.2s;
}

.search-btn:hover {
    background-color: #b8adfa;
}




