.search-form-outer {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    padding: 20px 30px 30px;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.book-name-input {
    min-width: 50%;
    max-width: 90%;
    padding: 5px 10px;
    border-radius: 10px;
}

.search-btn {
    margin-left: 20px;
    font-size: 1.1em;
    background-color: #cbc4fa;
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.2s;
}

.shared-attrs {
    height: 40px;
    margin: 15px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-width: 0;
}

.search-btn:hover {
    background-color: #b8adfa;
}




